

img {
	height:300px;	
}
body {
	text-align: center;
	color: white;
	
}
div.container {
  text-align: center;
}

ul.myUL {
  display: inline-block;
  text-align: left;
}
div.container {
  text-align: center;
}

ol.myUL {
  display: inline-block;
  text-align: left;
}
div.container {
  text-align: center;
}

ol.myUL {
  display: inline-block;
  text-align: left;
}
div.container {
  text-align: center;
}

ol.myUL {
  display: inline-block;
  text-align: left;
}

body{
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTaxwQ9NNutVDfw_tV3QBON3Lac-VVkNclsOw&usqp=CAU");
  font-size: 21px;
  color: white;
  font-weight: bold;
   margin: auto;
  width: 50%;
  padding: 7px;
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}