

img {
	height:300px;	
}
body {
	text-align: center;
	color: white;
	
}
div.container {
  text-align: center;
}

ul.myUL {
  display: inline-block;
  text-align: left;
}
div.container {
  text-align: center;
}

ol.myUL {
  display: inline-block;
  text-align: left;
}
div.container {
  text-align: center;
}

ol.myUL {
  display: inline-block;
  text-align: left;
}
div.container {
  text-align: center;
}

ol.myUL {
  display: inline-block;
  text-align: left;
}

body{
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTaxwQ9NNutVDfw_tV3QBON3Lac-VVkNclsOw&usqp=CAU");
  font-size: 21px;
  color: white;
  font-weight: bold;
   margin: auto;
  width: 100%;
  padding: 7px;
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: 100%;
}